# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse/STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS junk
.DS_Store
Thumbs.db

# Secrets (на всякий случай)
.env
*.env
application-local.properties
application-secret.properties
